@font-face {
	font-family: 'Digital';
	src: url("./ds_digital/DS-DIGI.TTF") format("truetype");
}

body {
    background-color: rgb(105, 105, 105);
}

.dashBoard {
    height: 245px;
    width: 400px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: rgb(145, 145, 145);
}

.dashBoard2 {
    height: 550px;
    width: 400px;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: rgb(145, 145, 145);
}

p {
    font-family: 'Digital';

}

.destinationTime {
    font-size: 35px;
    color: #e85d28;
}

.presentTime {
    font-size: 35px;
    color: #83fb76;
}

.interval {
    font-size: 35px;
    color: #349adf;
}

.inThePastOrFuture {
    font-size: 35px;
    color: #dfdc34;
}

.intervalInMinutes {
    font-size: 35px;
    color: #df34d7;
}

.inThePastOrFuture {
    font-size: 35px;
    color: #dfdc34;
}

.litersOfFuelRequired {
    font-size: 35px;
    color: #5cdf34;
}
